* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-gradient: linear-gradient(
    180deg,
  #FFE8B0 0%,
  #F2C14E 30%,
  #D89B2A 55%,
  #8C5E1A 80%,
  #2E1F0F 100%
);
 --stroke-color: rgb(78, 72, 58);              /* marrom acinzentado */
--surface-color: rgba(198, 178, 132, 0.18);   /* bege quente */
--surface-color-hover: rgba(170, 145, 92, 0.22); /* caramelo suave */
--highlight-color: rgba(120, 105, 60, 0.18);  /* dourado opaco */
--switch-bg-url: url(./assets/sun.svg);
}

/*!corpo*/

body {
  background: var(--bg-gradient) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/*!container*/

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/*!perfil*/

#profile {
  text-align: center;
  padding: 1px;
 
}
#profile img {
  width: 200px;
  margin: auto;
  
}

#profile p {
  
  font-weight: 500;
  line-height: 50px;
  margin-top: 1px;
  
}
#profile a {

  text-decoration: none;
}

/* !links */

ul {

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
/* !links sociais */
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/Background-light.jpg);
  }

  .light {
    --bg-url: url(./assets/Background-dark.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
